.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content:nth-child(3) {margin-left: 10px;}
.content:nth-child(4) {margin-right: 40px;}
.content:nth-child(5) {margin-right: 25px;}
.content:nth-child(6) {margin-right:20px;}
.text {
    padding-top: 20px;
    white-space: pre-line;
    text-align: center;
    font-family: 'ManropeRegular';
    font-size: 16px;
    line-height: 24px;
}